<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Welcome to Simple CRM
    // Bootstrap
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    // Font Awsome
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    // jQuery UI CSS
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    // Custom
    link(rel="stylesheet", href="../css/styles.css")
body.pad-top-50

    // -----------------------      Modals and Forms ----------------------------------------- //
    // initial modal
    .modal.fade#pageLoaderModal(tabindex="-1", role="dialog", aria-labelledby="pageLoaderModal")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-body
                    .row
                        .col-md-12
                            h3.modal-title Please Wait Refreshing Information
                        .col-md-12#alert-error-div
                            .alert.alert-danger Oh! Snap Something not working
                .modal-footer
                    .progress
                        .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100")
                            span.sr-only Progress Bar
 
    // ----------------------    information Modal For all Kind of things ------------------------- //
    .modal.fade#infoModal(tabindex="-1", role="dialog", aria-labelledby="infoModal")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    h4.modal-title#infoModalTitle
                .modal-body
                    .row#info-body-row
                        
                .modal-footer
                    button(type="button", data-dismiss="modal").btn.btn-default Close


    // ---------------------  office modal ------------------------------- //
    form(action="#")#officeUserModal-form.form-horizontal
        .modal.fade#officeUserModal(tabindex="-1", role="dialog", aria-labelledby="formModal")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h4.modal-title#MyModalLabel Create New User
                    .modal-body(style="max-height: calc(100vh - 300px); overflow-y: auto")
                        .row#offieModalBody
                            .form-group#officeModalUsername
                                label(for="searchCrietria").col-sm-3.control-label Enter Desired Username
                                .col-sm-6
                                    input.form-control(type="text", name="username", placeholder="Enter Username")

                            .form-group#officeModalPassword
                                label(for="searchCrietria").col-sm-3.control-label Enter Desired Password
                                .col-sm-6
                                    input.form-control(type="text", name="password", placeholder="Enter Password")
                            
                            .form-group#officeModalRole
                                label(for="searchCrietria").col-sm-3.control-label Enter Role
                                .col-sm-6
                                    input.form-control(type="text", name="role", placeholder="" value="client")

                    .modal-footer
                        button(type="button", data-dismiss="modal").btn.btn-default Close
                        button(type="submit").btn.btn-primary Submit

    // ---------------------  form modal ------------------------------- //
    form(action="#")#formModal-form.form-horizontal
        .modal.fade#formModal(tabindex="-1", role="dialog", aria-labelledby="formModal")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h4.modal-title#MyModalLabel Search Transactions
                    .modal-body(style="max-height: calc(100vh - 300px); overflow-y: auto")
                        .row#form-body-row
                            .form-group
                                label(for="searchCrietria").col-sm-3.control-label Select Category
                                .col-sm-6
                                    select.form-control(name="searchSelect")#formModalSelect
                                        option(value="UID") Transaction Id
                                        option(value="CARD") Card Number
                                        option(value="DAY") Date
                            .form-group#transaction-term
                                label(for="searchCrietria").col-sm-3.control-label Enter Search Term
                                .col-sm-6
                                    input.form-control(type="text", name="searchUID", placeholder="Enter Transaction Id")

                            .form-group#card-number
                                label(for="searchCrietria").col-sm-3.control-label Enter Search Term
                                .col-sm-6
                                    input.form-control(type="text", name="searchCARD", placeholder="Enter Card Number" 7)
                            
                            .form-group#date
                                label(for="searchCrietria").col-sm-3.control-label Enter Search Term
                                .col-sm-6
                                    input.form-control(type="text", name="searchDATE", placeholder="Enter Search Date")#dateInput
                            .form-group#formModalAlert
                                .col-sm-10.col-md-offset-1
                                    .alert.alert-danger#formModalAlertdiv Oh! Snap Something went wrong

                    .modal-footer
                        button(type="button", data-dismiss="modal").btn.btn-default Close
                        button(type="submit").btn.btn-primary Submit
    
    // ------------------------    Main Page Meat -------------------------------------------- //
    
    // main navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") TheeZorba Managment Panel

            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a#username(href="#") Dashboard
                            
                    li
                        a#uid(href="#") User
                            
                    li
                        a#role(href="#") Settings


    // main-screen
    .container-fluid
        .row
            // sidebar starts
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar#top-sidebar
                    li.active
                        a(href="#") Zorba Office
                    li
                        a(href="#") WishYourDeals
                    li
                        a(href="#") BestBrandsShop
                
                ul.nav.nav-sidebar#bottom-sidebar
                    li
                        a(href="#")
                            button.btn.btn-primary.btn-block#search-btn Search Transaction
                    li
                        a(href="#")
                            button.btn.btn-primary.btn-block#create-user-office-btn Create New Office User
                    li
                        a(href="#")
                            button.btn.btn-primary.btn-block#logout-btn Logout

            // center panel starts
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h2.sub-header Transaction's Table
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th Date
                                th Transaction ID
                                th Customer Name
                                th Currency
                                th Amount
                                th Merchant ID
                                th Source
                        tbody#transaction-body
                           

    // jQuery
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    // jQuery UI
    script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
    // monthpicker
    script(src="../js/jquery.mtz.monthpicker-min.js", type="text/javascript")
    // Bootstrap js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    // custom.js
    script(src="../js/script-admin.js")